<article class="note">
    <div class="note-header">

        <h3><%=note.titulo %></h3>

        <% if (note.color) { %>
            <i class="fas fa-circle" style='color: <%= note.color %>'></i>
        <% } %>    
        
    </div>
    <p><%=note.descripcion %></p>
    <% if (note.image) { %>
        <div class="image-note">
            <img src="/img/notes/<%=note.image %>" alt="note">
        </div>
        <% } %>
    <div class="btn-actions">
        <i class="fas fa-edit"></i>
        <form action="/notes/<%= note.id %>?_method=delete" method="POST">
            <label for="submit"><i class="fas fa-trash"></i> </label>
            <input type="submit" id="submit" style="display: none;">
        </form>
    </div>
</article>